a.button1:link, a.button1.visited{
    width: 100px;
    height: 15px;
    background-color:olivedrab;
    text-align: center;
    padding: 10px 15px;
}
a.button1:hover, a.button1:active{
    background-color: teal;
}
.columns{
    display: flex;
    flex-direction: row;
}
.button1{
    color: white;
}
button{
    padding: 10px;
    background-color:olivedrab;
    width: 150px;
    color: white;
}
.box{
    padding: 10px;
}